table {
  width: 100%;
}

tr.report-detail-row {
  height: 0;
}

tr.report-element-row:not(.report-expanded-row):hover {
  background: #f5f5f5;
}

tr.report-element-row:not(.report-expanded-row):active {
  background: #efefef;
}

.mat-header-cell.mat-column-org {
  text-align: left;
}

.report-element-row td {
  border-bottom-width: 0;
}

.report-element-detail {
  overflow: hidden;
  display: flex;
}

.mat-column-org {
  width: 20%;
}

.mat-column-lowerEnvironmentMaxInstances {
  width: 40%;
  text-align: right;
  padding-left: 10%;
}

.mat-column-upperEnvironmentMaxInstances {
  width: 40%;
  text-align: right;
  padding-left: 10%;
}

.mat-cell.vertical-top {
  vertical-align: top;
}

.mat-column-expandedDetail {
  padding: 0 !important;

  .detail-info {
    display: flex;
    flex-direction: row;
    padding-bottom: 8px;

    .pull-right {
      margin-left: auto;
    }
  }
}
